<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.meta.mapper.ScheduleMapper">

    <resultMap type="Schedule" id="ScheduleResult">
        <result property="id" column="id"/>
        <result property="scheduleContent" column="schedule_content"/>
        <result property="scheduleTime" column="schedule_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectScheduleVo">
        select id, schedule_content, schedule_time, create_time, update_time
        from mt_schedule
    </sql>

    <select id="selectScheduleList" parameterType="Schedule" resultMap="ScheduleResult">
        <include refid="selectScheduleVo"/>
        <where>
            <if test="scheduleContent != null  and scheduleContent != ''">and schedule_content = #{scheduleContent}</if>
            <if test="scheduleTime !=null and scheduleTime !='' ">and schedule_time=#{scheduleTime}</if>
        </where>
    </select>

    <select id="selectScheduleById" parameterType="Long" resultMap="ScheduleResult">
        <include refid="selectScheduleVo"/>
        where id = #{id}
    </select>

    <insert id="insertSchedule" parameterType="Schedule" useGeneratedKeys="true" keyProperty="id">
        insert into mt_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scheduleContent != null and scheduleContent != ''">schedule_content,</if>
            <if test="scheduleTime !=null and scheduleTime !=''">schedule_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scheduleContent != null and scheduleContent != ''">#{scheduleContent},</if>
            <if test="scheduleTime !=null and scheduleTime !=''">#{scheduleTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSchedule" parameterType="Schedule">
        update mt_schedule
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleContent != null and scheduleContent != ''">schedule_content = #{scheduleContent},</if>
            <if test="scheduleTime !=null and scheduleTime !=''">schedule_time=#{scheduleTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteScheduleById" parameterType="Long">
        delete
        from mt_schedule
        where id = #{id}
    </delete>

    <delete id="deleteScheduleByIds" parameterType="String">
        delete from mt_schedule where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
